:root {
  --black: #212121;
  --cornflower: #e7e9fc;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --dairy: #fcfcfc;
  --navy-blue: #2e2f42;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #fff;
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: var(--white);
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav-logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.span {
  color: var(--iris);
}
.nav-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.contacts {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.contacts:hover {
  color: var(--ocean);
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--iris);
}
.nav-list .nav-link:active {
  color: var(--iris);
}

.section-title {
  background-color: var(--navy-blue);
}
.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
}
.btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--iris);
  cursor: pointer;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  background: var(--cloud);
}
.btn:hover {
  background-color: var(--ocean);
  color: var(--white);
}
.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.section-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}
.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--white);
}
.cards {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--slate);
}
